<h1>
  welcome to
  <i class="fa-solid fa-book"></i><strong>Bookers</strong>
  !!
</h1>

<p>
  In
  <i class="fa-solid fa-book"></i><strong>Bookers</strong>
  ,
</p>

<p>you can share and exchange your opinions , inpressions , and emotions</p>

<p>about various books!</p>

<%= link_to "Log in", new_user_session_path %>
<button type="button" class="btn btn-info">Log in</button>

<%= link_to "Sign up", new_user_registration_path %>
<button type="button" class="btn btn-success">Sign up</button>
